      .navbar {
            background-image: url(back.jpg);
            font-size: 90%;
            padding: 10px;
            text-align: center;
            color: white;
            border-radius: 5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .navbar img {
            height: 150px;
            vertical-align: middle;
            margin-right: 10px;
        }
        .navbar h1 {
            font-size: 55px;
            margin: 0;
        }
        .wel{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        .clickhere {
            color: #b41818;
            text-decoration: none;
            font-weight: bold;
            margin-top: auto;
        }
         .clickhere:hover {
            text-decoration: underline;
            
        }
        .image {
            margin-top: 2.5px;
            padding: 1.5px;
        }
        .ticket {
            display: flex;
            padding: 10px;
            color: #8b0a0a;
            font-size: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-radius: 5px;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            height: 60px;
        }
        @keyframes moveLeft {
            0% {
                    transform: translateX(95%);
            }
            100% {
                transform: translateX(-99%);
            }
        }
        .ticket h2 {
            font-size: 29px;
            margin: 0;
            display: inline-block;
            position: absolute;
            animation: moveLeft 20s linear infinite;
            padding-right: 50px;
            white-space: nowrap;
        }
        .ticket h2:nth-child(1) {
            animation-delay: 0s;
        }
        .ticket h2:nth-child(2) {
            animation-delay: -10s;
        }
        .box {
            display: flex;
            justify-content: space-around;
            padding: 45px;
            background-image: url(boximg.png);
            border-radius: 5px;
        }
        .box1, .box2, .box3 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #ff0000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 80px;
            border-radius: 10px;
        }
        .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 20px rgb(107, 29, 29);
        }
        .footer {
            padding: 10px;
            text-align: center;

        }
        .box1 {
            background-image: url(box1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 300px;
            height: 300px;
        }
        .box2 {
            background-image: url(box2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 300px;
            height: 300px;
        }
        .box3 {
            background-image: url(box3.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 300px;
            height: 300px;
        }